@import 'normalize.css';

:root {
    --color-primary: rgba(254, 44, 85, 1);
    --color-secondary: rgba(255, 255, 255, 1);
    --color-text-primary: rgba(22, 24, 35, 1);
    --color-text-secondary: rgba(255, 255, 255, 1);

    // Fonts
    --default-font-family: 'TikTokFont', sans-serif;
    --TikTokDisplayFont: 'TikTokDisplayFont';

    // Layout size
    --default-layout-header-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--default-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--color-text-primary);
    overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

// Fonts embedded
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 500;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Regular.woff2');
    font-weight: 500;
}

// Custom tippy tooltip

body {
    .tippy-box {
        border-radius: 8px;
    }

    .tippy-content {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 21px;
        letter-spacing: 0.03px;
        background-color: rgba(84, 84, 84, 1);
        color: var(--color-text-secondary);
        padding: 8px;
    }

    .tippy-arrow {
        color: rgba(0, 0, 0, 0.65);
    }
}
