@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --color-primary: rgba(254, 44, 85, 1);
    --color-secondary: rgba(255, 255, 255, 1);
    --color-text-primary: rgba(22, 24, 35, 1);
    --color-text-secondary: rgba(255, 255, 255, 1);

    // Default layout
    --default-layout-header-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--color-text-primary);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

// Custom tippy tooltip

body {
    .tippy-box {
        border-radius: 8px;
    }

    .tippy-content {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 21px;
        letter-spacing: 0.03px;
        background-color: rgba(84, 84, 84, 1);
        color: var(--color-text-secondary);
        padding: 8px;
    }

    .tippy-arrow {
        color: rgba(0, 0, 0, 0.65);
    }
}
