.search {
    position: relative;
    width: 516px;
    min-width: 200px;
    height: 46px;
    padding: 0 8px;
    margin: 0;

    [data-tippy-root] {
        width: calc(100% - 16px);
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        margin: 0;
        position: relative;
        border-radius: var(--search-border-radius);
        background: rgba(22, 24, 35, 0.06);
    }

    form:focus-within {
        box-shadow: 0 0 0 1px rgba(22, 24, 35, 0.2) inset;
    }

    form:hover .search-btn {
        background: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35);
    }

    form:hover {
        box-shadow: 0 0 0 1px rgba(22, 24, 35, 0.2) inset;
    }

    input {
        width: 100%;
        font-family: var(--default-font-family);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 21px;
        letter-spacing: 0.3px;
        background: transparent;
        padding: 0;
        color: var(--color-text-primary);
        caret-color: var(--color-primary);
    }

    input::placeholder {
        opacity: 1;
        color: rgba(22, 24, 35, 0.68);
        letter-spacing: 0.03px;
    }
}

.search-result {
    padding: 8px 0 8px 0;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.03px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.icon-wrapper {
    font-size: 0;
    text-align: center;
    width: 40px;
}

.clear-btn {
    background: transparent;
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 12px;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.span-spliter {
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, 0.12);
}

.search-btn {
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    font-size: 0;
    background: transparent;
    margin-left: 0;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.34);

    svg {
        color: inherit;
    }

    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35);
    }

    &:active {
        background: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35);
    }
}
