.wrapper {
    --search-border-radius: 92px;

    position: fixed;
    top: 0;
    left: 0;
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    background-color: var(--color-secondary);
}

.inner {
    height: 100%;
    width: 100%;
    padding-left: 16px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
}

.logo {
    display: flex;
    min-width: 300px;
}

.actions {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 24px;
}

.action-btn {
    margin-left: 16px;
    cursor: pointer;
    background: transparent;

    &.message-btn {
        height: 32px;
        padding: 3px 3px 0;
    }

    &.inbox-btn svg {
        display: block;
    }
}

.more-btn {
    margin-left: 16px;
    cursor: pointer;
    padding: 0 4px;
    display: flex;
    align-items: center;
}
